.closebtn {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.4s;
}

.closebtn:hover {
	color: black;
}

.alert {
	padding: 20px;
	background-color: #e78c05;
	color: white;
	margin-bottom: 15px;
}
