@import '_colors';

div.title-bar-left,
div.title-bar-right {
	height: 47px !important;
	background-color: $cambridge-blue;
}

h1,
h2 {
	text-align: center;
}

@media screen and (max-width: 767px) {
	div.title-bar-right {
		height: 0 !important;
	}
}
