
<h2>Switch to Standard Membership</h2>
<form action="/users/<%= currentUser.id %>/downgrade" method="POST" class="pure-form pure-form-stacked downgrade-form">
  <button type="submit" class="pure-button pure-button-primary">Switch Today</button>
</form>
