
    <div class="hamburger--vortex menu-link" style="background: none" id="menuLink" href="#menu">
        <div class="hamburger-box">
            <div class="hamburger-inner"></div>
        </div>
    </div>
      <div id="menu">
          <div class="pure-menu pure-menu-open"><a class="pure-menu-heading" href="#">Blocipedia</a>
              <ul>
                  <li><a href="#">Home</a></li>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Wikis</a></li>
                  <li><a href="#">News</a></li>
                  <li><a href="#">Profile</a></li>
                  <li><a href="#">Contact Us</a></li>
              </ul>
          </div>
      </div>
