<div class="wiki-guide">
  <div class="alert" role="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <h3>Quick Wiki Markdown Guide</h3>
        <h4>Content</h4>
          <ul>
            <li>Be sure to have a summarizing paragraph at the top of the page, after the title</li>
            <li>Try to group information together into subsections when possible.</li>
            <li>Please provide links to sourced information when possible.</li>
          </ul>
        <h4>Titles</h4>
          <ul>
            <li>You should only have one main title, or # marking, at the top of the page.</li>
            <li>Secondary headings should use the second-level heading, or ##, marking.</li>
            <li>Avoid uneccesary sub-headings.  Keep it Simple.</li>
          </ul>
        <h4>Fast Facts</h4>
          <ul>
            <li>Avoid lists, images, and tables in the Fast Facts Section</li>
            <li>Secondary headings should use the second-level heading, or ##, marking.</li>
            <li>Facts below the titles should be written as standard paragraphs.</li>
          </ul>
        <h4>Links</h4>
          <ul>
            <li>Please be sure to include a section labeled sources at the end of the Wiki.</li>
            <li>Please use the [Link-Name](http://www.link.com) format for the links.</li>
          </ul>
        <h4>Tables</h4>
          <ul>
            <li>Avoid overly large or wide tables.  You may always link to other sources for large tables.</li>
            <li>Make sure that all columns have headings.</li>
            <li>Do not leave empty rows in tables.</li>
          </ul>
        <h4>Menus and Lists</h4>
          <ul>
            <li>Avoid uncessarily complicated and nested lists.</li>
            <li>Add a menu section after the summarizing paragraph for long Wikis with several sub-sections.</li>
          </ul>
  <div>
</div>

