<!DOCTYPE html>

<head>
  <% include ../static/partials/head.ejs %>
</head>

<body>

  <div id="layout">
    <% include ../static/partials/navbar.ejs %>
    <div class="pure-g">
    <div class="pure-u-1">
      <div class="title-bar-left"></div>
        <div class="sign-up-form">
          <h1>Create a New Wiki</h1>
          <h2>Hey <%= currentUser.username %>! Start adding to Wiki-What</h2>
          <p>Create a new Wiki below by adding a title and brief description of the subject.</p>
          <div>
            <% include ../static/partials/messages.ejs %>
            <form method="POST" action="/wikis/create" class="pure-form">
              <label for="title">Title and Photo URLs</label>
              <fieldset class="pure-group">
                <input type="text" name="title" placeholder="Enter Wiki Title" class="pure-input-2-3" />
                <input type="text" name="image1" placeholder="Enter Main Picture URL" class="pure-input-2-3"/>
                <input type="text" name="image2" placeholder="Enter Side Picture URL" class="pure-input-2-3"/>
              </fieldset>
              <label for="body">Main Wiki Information</label>
              <fieldset>
                <textarea name="body" class="pure-input-2-3" placeholder="Enter Body of Wiki" rows="20"></textarea>
              </fieldset>
              <label for="fastFacts">Fast Fact Information</label>
              <fieldset>
                <textarea name="fastFacts" class="pure-input-2-3" placeholder="Enter Fast Facts" rows="10"></textarea>
              </fieldset>
                <% if (currentUser.role == 1 || currentUser.role == 2) { %>
                  <label for="private">Choose Wiki Privacy</label>
                    <select class="pure-input-2-3" name="private">
                      <option value="false">Public Wiki</option>
                      <option value="true">Private Wiki</option>
                    </select>
                <% } %>
              <button type="submit"class="pure-button pure-input-2-3 pure-button-primary">Create Wiki</button>
            </form>
          </div>
          <div class="form-bottom-links">
            <a href="#">Read our detailed Wiki Guide, and be sure to check out the Quick Wiki Guide below.</a>
          </div>
          <% include ../static/partials/wiki_guide.ejs %>
        </div>
      </div>
    </div>
  </div>
  <% include ../static/partials/bodyscripts.ejs %>
</body>
