.pure-button,
.pure-button-selected,
a.pure-button-primary,
a.pure-button-selected {
  background-color: #94d1be !important;
  color: #3b413c;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

.pure-button:hover,
a.pure-button-primary:hover {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}

.sign-up-form a {
  color: #719490;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.sign-up-form a:hover {
  color: #668682;
}

.pure-form .pure-group input:focus {
  border-color: #94d1be;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.pure-button,
.pure-button-selected,
a.pure-button-primary,
a.pure-button-selected {
  background-color: #94d1be !important;
  color: #3b413c;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

.pure-button:hover,
a.pure-button-primary:hover {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}

.sign-up-form a {
  color: #719490;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.sign-up-form a:hover {
  color: #668682;
}

.pure-form .pure-group input:focus {
  border-color: #94d1be;
}

.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
  margin: -4px;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -6px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
  background-color: white;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

/*
   * Vortex
   */
.hamburger--vortex .hamburger-inner {
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.hamburger--vortex .hamburger-inner::before,
.hamburger--vortex .hamburger-inner::after {
  transition-duration: 0.2s;
  transition-delay: 0.3s;
  transition-timing-function: linear;
}

.hamburger--vortex .hamburger-inner::before {
  transition-property: top, opacity;
}

.hamburger--vortex .hamburger-inner::after {
  transition-property: bottom, transform;
}

.hamburger--vortex.active .hamburger-inner {
  transform: rotate(765deg);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.hamburger--vortex.active .hamburger-inner::before,
.hamburger--vortex.active .hamburger-inner::after {
  transition-delay: 0.2s;
}

.hamburger--vortex.active .hamburger-inner::before {
  top: 0;
  opacity: 0;
}

.hamburger--vortex.active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(90deg);
}

.pure-button,
.pure-button-selected,
a.pure-button-primary,
a.pure-button-selected {
  background-color: #94d1be !important;
  color: #3b413c;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

.pure-button:hover,
a.pure-button-primary:hover {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}

.sign-up-form a {
  color: #719490;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.sign-up-form a:hover {
  color: #668682;
}

.pure-form .pure-group input:focus {
  border-color: #94d1be;
}

.pure-menu-heading {
  background-color: #9db5b2 !important;
  color: white !important;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.pure-menu li a {
  color: #d5d9d6 !important;
}

#menu {
  background-color: #3b413c !important;
}

.pure-button,
.pure-button-selected,
a.pure-button-primary,
a.pure-button-selected {
  background-color: #94d1be !important;
  color: #3b413c;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

.pure-button:hover,
a.pure-button-primary:hover {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}

.sign-up-form a {
  color: #719490;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.sign-up-form a:hover {
  color: #668682;
}

.pure-form .pure-group input:focus {
  border-color: #94d1be;
}

div.title-bar-left,
div.title-bar-right {
  height: 47px !important;
  background-color: #9db5b2;
}

h1,
h2 {
  text-align: center;
}

.sign-up-form {
  text-align: center;
  justify-content: center;
}

.center-item-h {
  margin: 0 auto;
  width: 50%;
  /* just an arbitrary amount */
}

.pure-form .pure-group input {
  margin: 0 auto !important;
}

.pure-g {
  display: flex;
  justify-content: center;
}

.sign-up-form {
  padding: 0 3%;
}

.sign-up-form a {
  display: block;
  padding: 15px 0 0 0;
}

@media screen and (max-width: 767px) {
  div.title-bar-right {
    height: 0 !important;
  }
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 4em;
  font-weight: 300;
  letter-spacing: 0.03em;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 0.02em;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 1.3em;
  letter-spacing: 0.04em;
  word-spacing: 0.04em;
}

.pure-menu li a {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.1em;
  line-height: 1.8em;
  font-weight: 300;
}

.pure-menu-heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.4s;
}

.closebtn:hover {
  color: black;
}

.alert {
  padding: 20px;
  background-color: #e78c05;
  color: white;
  margin-bottom: 15px;
}

/*# sourceMappingURL=application.css.map */
