.pure-button,
.pure-button-selected,
a.pure-button-primary,
a.pure-button-selected {
  background-color: #94d1be !important;
  color: #3b413c;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

.pure-button:hover,
a.pure-button-primary:hover {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}

.sign-up-form a {
  color: #719490;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.sign-up-form a:hover {
  color: #668682;
}

.pure-form .pure-group input:focus {
  border-color: #94d1be;
}

.main-image h1 {
  color: #e4e4e4;
  text-shadow: #3b413c 0px 0px 10px;
}

.main-content p {
  color: #131313;
}

.side-content h5,
.side-content h3,
.wiki-content h4 {
  color: #719490;
}

a.back-to-top,
.wiki-content li a {
  color: #9db5b2;
}

.home-bottom p {
  color: #232623;
}

.blurred-content h1,
.blurred-content i,
.blurred-content h3 {
  color: #a4dad5;
  text-shadow: #3b413c 0px 0px 10px;
}

.blurred-content p {
  color: white;
  text-shadow: #0a0c0b 0px 0px 7px;
}

.blurred-content .pure-button {
  color: #3b413c;
}

.wiki-list-row a {
  color: #719490;
}

.wiki-list-head {
  background-color: #9db5b2 !important;
  color: #fefefe !important;
}

a.user-link {
  color: #809f9b;
}

a.user-link:hover {
  color: #668682;
}

.user-edit {
  background-color: #daf0ee;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.pure-button,
.pure-button-selected,
a.pure-button-primary,
a.pure-button-selected {
  background-color: #94d1be !important;
  color: #3b413c;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

.pure-button:hover,
a.pure-button-primary:hover {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}

.sign-up-form a {
  color: #719490;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.sign-up-form a:hover {
  color: #668682;
}

.pure-form .pure-group input:focus {
  border-color: #94d1be;
}

.main-image h1 {
  color: #e4e4e4;
  text-shadow: #3b413c 0px 0px 10px;
}

.main-content p {
  color: #131313;
}

.side-content h5,
.side-content h3,
.wiki-content h4 {
  color: #719490;
}

a.back-to-top,
.wiki-content li a {
  color: #9db5b2;
}

.home-bottom p {
  color: #232623;
}

.blurred-content h1,
.blurred-content i,
.blurred-content h3 {
  color: #a4dad5;
  text-shadow: #3b413c 0px 0px 10px;
}

.blurred-content p {
  color: white;
  text-shadow: #0a0c0b 0px 0px 7px;
}

.blurred-content .pure-button {
  color: #3b413c;
}

.wiki-list-row a {
  color: #719490;
}

.wiki-list-head {
  background-color: #9db5b2 !important;
  color: #fefefe !important;
}

a.user-link {
  color: #809f9b;
}

a.user-link:hover {
  color: #668682;
}

.user-edit {
  background-color: #daf0ee;
}

.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
  margin: -4px;
  z-index: 200;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -6px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
  background-color: white;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

/*
   * Vortex
   */
.hamburger--vortex .hamburger-inner {
  z-index: 200;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.hamburger--vortex .hamburger-inner::before,
.hamburger--vortex .hamburger-inner::after {
  transition-duration: 0.2s;
  transition-delay: 0.3s;
  transition-timing-function: linear;
}

.hamburger--vortex .hamburger-inner::before {
  transition-property: top, opacity;
}

.hamburger--vortex .hamburger-inner::after {
  transition-property: bottom, transform;
}

.hamburger--vortex.active .hamburger-inner {
  transform: rotate(765deg);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.hamburger--vortex.active .hamburger-inner::before,
.hamburger--vortex.active .hamburger-inner::after {
  transition-delay: 0.2s;
}

.hamburger--vortex.active .hamburger-inner::before {
  top: 0;
  opacity: 0;
}

.hamburger--vortex.active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(90deg);
}

.pure-button,
.pure-button-selected,
a.pure-button-primary,
a.pure-button-selected {
  background-color: #94d1be !important;
  color: #3b413c;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

.pure-button:hover,
a.pure-button-primary:hover {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}

.sign-up-form a {
  color: #719490;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.sign-up-form a:hover {
  color: #668682;
}

.pure-form .pure-group input:focus {
  border-color: #94d1be;
}

.main-image h1 {
  color: #e4e4e4;
  text-shadow: #3b413c 0px 0px 10px;
}

.main-content p {
  color: #131313;
}

.side-content h5,
.side-content h3,
.wiki-content h4 {
  color: #719490;
}

a.back-to-top,
.wiki-content li a {
  color: #9db5b2;
}

.home-bottom p {
  color: #232623;
}

.blurred-content h1,
.blurred-content i,
.blurred-content h3 {
  color: #a4dad5;
  text-shadow: #3b413c 0px 0px 10px;
}

.blurred-content p {
  color: white;
  text-shadow: #0a0c0b 0px 0px 7px;
}

.blurred-content .pure-button {
  color: #3b413c;
}

.wiki-list-row a {
  color: #719490;
}

.wiki-list-head {
  background-color: #9db5b2 !important;
  color: #fefefe !important;
}

a.user-link {
  color: #809f9b;
}

a.user-link:hover {
  color: #668682;
}

.user-edit {
  background-color: #daf0ee;
}

.pure-menu-heading {
  background-color: #9db5b2 !important;
  color: white !important;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.pure-menu li a {
  color: #d5d9d6 !important;
}

#menu {
  background-color: #3b413c !important;
}

.pure-button,
.pure-button-selected,
a.pure-button-primary,
a.pure-button-selected {
  background-color: #94d1be !important;
  color: #3b413c;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

.pure-button:hover,
a.pure-button-primary:hover {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}

.sign-up-form a {
  color: #719490;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.sign-up-form a:hover {
  color: #668682;
}

.pure-form .pure-group input:focus {
  border-color: #94d1be;
}

.main-image h1 {
  color: #e4e4e4;
  text-shadow: #3b413c 0px 0px 10px;
}

.main-content p {
  color: #131313;
}

.side-content h5,
.side-content h3,
.wiki-content h4 {
  color: #719490;
}

a.back-to-top,
.wiki-content li a {
  color: #9db5b2;
}

.home-bottom p {
  color: #232623;
}

.blurred-content h1,
.blurred-content i,
.blurred-content h3 {
  color: #a4dad5;
  text-shadow: #3b413c 0px 0px 10px;
}

.blurred-content p {
  color: white;
  text-shadow: #0a0c0b 0px 0px 7px;
}

.blurred-content .pure-button {
  color: #3b413c;
}

.wiki-list-row a {
  color: #719490;
}

.wiki-list-head {
  background-color: #9db5b2 !important;
  color: #fefefe !important;
}

a.user-link {
  color: #809f9b;
}

a.user-link:hover {
  color: #668682;
}

.user-edit {
  background-color: #daf0ee;
}

.title-bar-left {
  height: 47px !important;
  background-color: #9db5b2;
  position: sticky;
  min-width: 100%;
  top: 0;
  z-index: 100;
  position: fixed;
  margin-top: 0;
}

h1,
h2 {
  text-align: center;
}

.sign-up-form h1 {
  margin-top: 50px;
  padding-top: 50px;
}

.sign-up-form {
  text-align: center;
  justify-content: center;
}

.center-item-h {
  margin: 0 auto;
  width: 50%;
  /* just an arbitrary amount */
}

.pure-form .pure-group input {
  margin: 0 auto !important;
}

.pure-g {
  display: flex;
  justify-content: center;
}

.sign-up-form {
  padding: 0 3%;
  margin-bottom: 100px;
}

.sign-up-form a {
  display: block;
  padding: 15px 0 0 0;
}

.alert ul {
  padding: 0;
}

.alert li {
  list-style-type: none;
  text-align: center;
}

.main-image {
  position: relative;
  width: 100%;
  /* for IE 6 */
}

.main-image img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

.main-image h1 {
  position: absolute;
  bottom: 2%;
  padding: 0 0 0 2%;
  text-align: left;
  max-width: 90%;
  margin: 15px 0;
}

.main-content p {
  max-width: 90%;
  margin: 15px auto;
}

.wiki-content h3 {
  padding-left: 15px;
}

.wiki-content h4 {
  padding-left: 15px;
  margin-bottom: 10px;
}

.wiki-content a {
  text-decoration: none;
}

.wiki-content li {
  list-style-type: none;
}

ul.sources-list {
  margin-bottom: 50px;
}

a.back-to-top {
  padding: 30px 0;
}

img.side-bar-image {
  width: 80%;
  margin: 5% 10% 0 10%;
}

.side-content,
.side-content h4 {
  text-align: center;
  padding-bottom: 30px;
}

.side-content li h5 {
  margin: 10px 0;
}

.side-content li p {
  margin: 3px 0;
}

.side-content li {
  padding: 15px 0;
}

.side-content h4 {
  padding: 0 !important;
}

.fast-facts ul {
  padding: 0 !important;
}

div.user-buttons {
  width: 80%;
  margin-left: 10%;
  text-align: center;
}

.user-buttons a,
.user-buttons button {
  margin: 7px 0;
  padding: 8px 0;
  width: 80%;
}

.blurred-content h1 {
  margin-bottom: 15px;
}

.home-bottom p {
  max-width: 80%;
  margin-left: 10%;
  text-align: center !important;
}

.home-bottom a {
  width: 70%;
}

.home-bottom i {
  margin: 50px 0 -10px 0;
}

.home-features > .pure-button {
  width: 70%;
  margin-bottom: 20px;
  overflow: auto;
  padding: 10px 0;
}

.wiki-list {
  margin: 5%;
}

.wiki-list table {
  margin-left: 2.5%;
  width: 95%;
  text-align: left;
}

.wiki-list-head-date,
.wiki-list-row-date {
  text-align: right;
}

.browse-wiki p {
  text-align: center;
  width: 90%;
  margin-left: 5%;
}

.browse-wiki h1 {
  padding-top: 50px;
}

.browse-wiki {
  text-align: center;
}

.user-edit {
  padding: 15px 0;
}

/*
Offsets from https://raw.githubusercontent.com/tilomitra/pure/d7f85e37abec3fdab14a541305ad05783159655c/src/grids/css/grids-offsets.css
Media queries from Pure v0.5.0
Copyright 2014 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
https://github.com/yui/pure/blob/master/LICENSE.md
*/
@media screen and (min-width: 35.5em) {
  .offset-sm-0 {
    margin-left: 0;
  }

  .offset-sm-1-2 {
    margin-left: 50%;
    *margin-left: 49.995%;
  }

  .offset-sm-1-3 {
    margin-left: 33.33%;
    *margin-left: 33.325%;
  }

  .offset-sm-2-3 {
    margin-left: 66.67%;
    *margin-left: 66.665%;
  }

  .offset-sm-1-4 {
    margin-left: 25%;
    *margin-left: 24.995%;
  }

  .offset-sm-3-4 {
    margin-left: 75%;
    *margin-left: 74.995%;
  }

  .offset-sm-1-5 {
    margin-left: 20%;
    *margin-left: 19.995%;
  }

  .offset-sm-2-5 {
    margin-left: 40%;
    *margin-left: 39.995%;
  }

  .offset-sm-3-5 {
    margin-left: 60%;
    *margin-left: 59.995%;
  }

  .offset-sm-4-5 {
    margin-left: 80%;
    *margin-left: 79.995%;
  }

  .offset-sm-1-6 {
    margin-left: 16.66%;
    *margin-left: 16.655%;
  }

  .offset-sm-5-6 {
    margin-left: 83.33%;
    *margin-left: 83.325%;
  }

  .offset-sm-1-8 {
    margin-left: 12.5%;
    *margin-left: 12.495%;
  }

  .offset-sm-3-8 {
    margin-left: 37.5%;
    *margin-left: 37.495%;
  }

  .offset-sm-5-8 {
    margin-left: 62.5%;
    *margin-left: 62.495%;
  }

  .offset-sm-7-8 {
    margin-left: 87.5%;
    *margin-left: 87.495%;
  }

  .offset-sm-1-12 {
    margin-left: 8.33%;
    *margin-left: 8.325%;
  }

  .offset-sm-5-12 {
    margin-left: 41.67%;
    *margin-left: 41.665%;
  }

  .offset-sm-7-12 {
    margin-left: 58.33%;
    *margin-left: 58.325%;
  }

  .offset-sm-11-12 {
    margin-left: 91.67%;
    *margin-left: 91.665%;
  }

  .offset-sm-1-24 {
    margin-left: 4.17%;
    *margin-left: 4.165%;
  }

  .offset-sm-5-24 {
    margin-left: 20.83%;
    *margin-left: 20.825%;
  }

  .offset-sm-7-24 {
    margin-left: 29.17%;
    *margin-left: 29.165%;
  }

  .offset-sm-11-24 {
    margin-left: 45.83%;
    *margin-left: 45.825%;
  }

  .offset-sm-13-24 {
    margin-left: 54.17%;
    *margin-left: 54.165%;
  }

  .offset-sm-17-24 {
    margin-left: 70.83%;
    *margin-left: 70.825%;
  }

  .offset-sm-19-24 {
    margin-left: 79.17%;
    *margin-left: 79.165%;
  }

  .offset-sm-23-24 {
    margin-left: 95.83%;
    *margin-left: 95.825%;
  }
}
@media screen and (min-width: 48em) {
  .offset-md-0 {
    margin-left: 0;
  }

  .offset-md-1-2 {
    margin-left: 50%;
    *margin-left: 49.995%;
  }

  .offset-md-1-3 {
    margin-left: 33.33%;
    *margin-left: 33.325%;
  }

  .offset-md-2-3 {
    margin-left: 66.67%;
    *margin-left: 66.665%;
  }

  .offset-md-1-4 {
    margin-left: 25%;
    *margin-left: 24.995%;
  }

  .offset-md-3-4 {
    margin-left: 75%;
    *margin-left: 74.995%;
  }

  .offset-md-1-5 {
    margin-left: 20%;
    *margin-left: 19.995%;
  }

  .offset-md-2-5 {
    margin-left: 40%;
    *margin-left: 39.995%;
  }

  .offset-md-3-5 {
    margin-left: 60%;
    *margin-left: 59.995%;
  }

  .offset-md-4-5 {
    margin-left: 80%;
    *margin-left: 79.995%;
  }

  .offset-md-1-6 {
    margin-left: 16.66%;
    *margin-left: 16.655%;
  }

  .offset-md-5-6 {
    margin-left: 83.33%;
    *margin-left: 83.325%;
  }

  .offset-md-1-8 {
    margin-left: 12.5%;
    *margin-left: 12.495%;
  }

  .offset-md-3-8 {
    margin-left: 37.5%;
    *margin-left: 37.495%;
  }

  .offset-md-5-8 {
    margin-left: 62.5%;
    *margin-left: 62.495%;
  }

  .offset-md-7-8 {
    margin-left: 87.5%;
    *margin-left: 87.495%;
  }

  .offset-md-1-12 {
    margin-left: 8.33%;
    *margin-left: 8.325%;
  }

  .offset-md-5-12 {
    margin-left: 41.67%;
    *margin-left: 41.665%;
  }

  .offset-md-7-12 {
    margin-left: 58.33%;
    *margin-left: 58.325%;
  }

  .offset-md-11-12 {
    margin-left: 91.67%;
    *margin-left: 91.665%;
  }

  .offset-md-1-24 {
    margin-left: 4.17%;
    *margin-left: 4.165%;
  }

  .offset-md-5-24 {
    margin-left: 20.83%;
    *margin-left: 20.825%;
  }

  .offset-md-7-24 {
    margin-left: 29.17%;
    *margin-left: 29.165%;
  }

  .offset-md-11-24 {
    margin-left: 45.83%;
    *margin-left: 45.825%;
  }

  .offset-md-13-24 {
    margin-left: 54.17%;
    *margin-left: 54.165%;
  }

  .offset-md-17-24 {
    margin-left: 70.83%;
    *margin-left: 70.825%;
  }

  .offset-md-19-24 {
    margin-left: 79.17%;
    *margin-left: 79.165%;
  }

  .offset-md-23-24 {
    margin-left: 95.83%;
    *margin-left: 95.825%;
  }
}
@media screen and (min-width: 64em) {
  .offset-lg-0 {
    margin-left: 0;
  }

  .offset-lg-1-2 {
    margin-left: 50%;
    *margin-left: 49.995%;
  }

  .offset-lg-1-3 {
    margin-left: 33.33%;
    *margin-left: 33.325%;
  }

  .offset-lg-2-3 {
    margin-left: 66.67%;
    *margin-left: 66.665%;
  }

  .offset-lg-1-4 {
    margin-left: 25%;
    *margin-left: 24.995%;
  }

  .offset-lg-3-4 {
    margin-left: 75%;
    *margin-left: 74.995%;
  }

  .offset-lg-1-5 {
    margin-left: 20%;
    *margin-left: 19.995%;
  }

  .offset-lg-2-5 {
    margin-left: 40%;
    *margin-left: 39.995%;
  }

  .offset-lg-3-5 {
    margin-left: 60%;
    *margin-left: 59.995%;
  }

  .offset-lg-4-5 {
    margin-left: 80%;
    *margin-left: 79.995%;
  }

  .offset-lg-1-6 {
    margin-left: 16.66%;
    *margin-left: 16.655%;
  }

  .offset-lg-5-6 {
    margin-left: 83.33%;
    *margin-left: 83.325%;
  }

  .offset-lg-1-8 {
    margin-left: 12.5%;
    *margin-left: 12.495%;
  }

  .offset-lg-3-8 {
    margin-left: 37.5%;
    *margin-left: 37.495%;
  }

  .offset-lg-5-8 {
    margin-left: 62.5%;
    *margin-left: 62.495%;
  }

  .offset-lg-7-8 {
    margin-left: 87.5%;
    *margin-left: 87.495%;
  }

  .offset-lg-1-12 {
    margin-left: 8.33%;
    *margin-left: 8.325%;
  }

  .offset-lg-5-12 {
    margin-left: 41.67%;
    *margin-left: 41.665%;
  }

  .offset-lg-7-12 {
    margin-left: 58.33%;
    *margin-left: 58.325%;
  }

  .offset-lg-11-12 {
    margin-left: 91.67%;
    *margin-left: 91.665%;
  }

  .offset-lg-1-24 {
    margin-left: 4.17%;
    *margin-left: 4.165%;
  }

  .offset-lg-5-24 {
    margin-left: 20.83%;
    *margin-left: 20.825%;
  }

  .offset-lg-7-24 {
    margin-left: 29.17%;
    *margin-left: 29.165%;
  }

  .offset-lg-11-24 {
    margin-left: 45.83%;
    *margin-left: 45.825%;
  }

  .offset-lg-13-24 {
    margin-left: 54.17%;
    *margin-left: 54.165%;
  }

  .offset-lg-17-24 {
    margin-left: 70.83%;
    *margin-left: 70.825%;
  }

  .offset-lg-19-24 {
    margin-left: 79.17%;
    *margin-left: 79.165%;
  }

  .offset-lg-23-24 {
    margin-left: 95.83%;
    *margin-left: 95.825%;
  }
}
@media screen and (min-width: 80em) {
  .offset-xl-0 {
    margin-left: 0;
  }

  .offset-xl-1-2 {
    margin-left: 50%;
    *margin-left: 49.995%;
  }

  .offset-xl-1-3 {
    margin-left: 33.33%;
    *margin-left: 33.325%;
  }

  .offset-xl-2-3 {
    margin-left: 66.67%;
    *margin-left: 66.665%;
  }

  .offset-xl-1-4 {
    margin-left: 25%;
    *margin-left: 24.995%;
  }

  .offset-xl-3-4 {
    margin-left: 75%;
    *margin-left: 74.995%;
  }

  .offset-xl-1-5 {
    margin-left: 20%;
    *margin-left: 19.995%;
  }

  .offset-xl-2-5 {
    margin-left: 40%;
    *margin-left: 39.995%;
  }

  .offset-xl-3-5 {
    margin-left: 60%;
    *margin-left: 59.995%;
  }

  .offset-xl-4-5 {
    margin-left: 80%;
    *margin-left: 79.995%;
  }

  .offset-xl-1-6 {
    margin-left: 16.66%;
    *margin-left: 16.655%;
  }

  .offset-xl-5-6 {
    margin-left: 83.33%;
    *margin-left: 83.325%;
  }

  .offset-xl-1-8 {
    margin-left: 12.5%;
    *margin-left: 12.495%;
  }

  .offset-xl-3-8 {
    margin-left: 37.5%;
    *margin-left: 37.495%;
  }

  .offset-xl-5-8 {
    margin-left: 62.5%;
    *margin-left: 62.495%;
  }

  .offset-xl-7-8 {
    margin-left: 87.5%;
    *margin-left: 87.495%;
  }

  .offset-xl-1-12 {
    margin-left: 8.33%;
    *margin-left: 8.325%;
  }

  .offset-xl-5-12 {
    margin-left: 41.67%;
    *margin-left: 41.665%;
  }

  .offset-xl-7-12 {
    margin-left: 58.33%;
    *margin-left: 58.325%;
  }

  .offset-xl-11-12 {
    margin-left: 91.67%;
    *margin-left: 91.665%;
  }

  .offset-xl-1-24 {
    margin-left: 4.17%;
    *margin-left: 4.165%;
  }

  .offset-xl-5-24 {
    margin-left: 20.83%;
    *margin-left: 20.825%;
  }

  .offset-xl-7-24 {
    margin-left: 29.17%;
    *margin-left: 29.165%;
  }

  .offset-xl-11-24 {
    margin-left: 45.83%;
    *margin-left: 45.825%;
  }

  .offset-xl-13-24 {
    margin-left: 54.17%;
    *margin-left: 54.165%;
  }

  .offset-xl-17-24 {
    margin-left: 70.83%;
    *margin-left: 70.825%;
  }

  .offset-xl-19-24 {
    margin-left: 79.17%;
    *margin-left: 79.165%;
  }

  .offset-xl-23-24 {
    margin-left: 95.83%;
    *margin-left: 95.825%;
  }
}
@media screen and (max-width: 767px) {
  div.title-bar-right {
    height: 0 !important;
  }
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 4em;
  font-weight: 300;
  letter-spacing: 0.03em;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 0.02em;
}

.main-content h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  font-weight: 300;
}

.main-content p {
  font-size: 1.1em;
}

.alert li,
.alert h4,
p {
  font-family: "Raleway", sans-serif;
  font-size: 1.4em;
  letter-spacing: 0.04em;
  word-spacing: 0.04em;
}

input,
form {
  font-family: "Raleway", sans-serif;
}

.form-bottom-links a {
  font-family: "Montserrat", sans-serif;
}

.main-content p {
  font-size: 1.1em;
  line-height: 1.5em;
  letter-spacing: 0.06em;
}

.main-content p {
  text-align: justify;
}

.main-content h1 {
  text-align: left;
}

.side-content h4,
.wiki-content h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.7em;
  font-weight: 300;
}

.side-content h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  font-weight: 300;
}

a.back-to-top,
.wiki-content li a {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4em;
  letter-spacing: 0.05em;
}

.side-content ul li p {
  font-size: 1.1em;
}

.pure-menu li a {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.1em;
  line-height: 1.8em;
  font-weight: 300;
}

.pure-menu-heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.home-bottom h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  font-weight: 300;
}

.blurred-content i {
  font-size: 3em;
}

.blurred-content p {
  font-weight: 300;
}

.pure-button-primary {
  font-family: "Montserrat", sans-serif;
}

i.fa-globe {
  font-size: 4em;
}

.features-list p {
  font-size: 1em;
  letter-spacing: 0.15em;
}

.wiki-list-head th {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1.3em;
}

.wiki-list-row {
  font-family: "Raleway", sans-serif;
}

.wiki-list-row a {
  text-decoration: none;
}

.wiki-list-row td {
  font-size: 1.1em;
  letter-spacing: 0.13em;
}

a.user-link {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
}

@media screen and (max-width: 48em) {
  .blurred-content h1 {
    font-size: 3em;
  }
}
@media screen and (max-width: 35.5em) {
  .blurred-content h1 {
    font-size: 2.5em;
  }

  .sign-up-form h1 {
    font-size: 2.5em;
  }
}
/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
  .wiki-list-head th {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 1em;
  }

  .wiki-list-row td {
    font-size: 0.9em;
    letter-spacing: 0.13em;
  }
}
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.4s;
}

.closebtn:hover {
  color: black;
}

.alert {
  padding: 20px;
  margin: 15px auto;
  background-color: #e78c05;
  color: white;
  width: 50%;
}

.splash-screen {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  background-image: url(https://images.unsplash.com/photo-1495808985667-ba4ce2ef31b3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8fb9091f3f7760635761f985d12b333d&auto=format&fit=crop&w=1950&q=80);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
}

.blurred-box {
  width: 60%;
  height: 700px;
  background: inherit;
  position: absolute;
  overflow: hidden;
  top: 40%;
  margin-left: -175px;
  margin-top: -250px;
  border-radius: 8px;
  margin-bottom: 100px;
}

.blurred-box:before {
  content: "";
  position: absolute;
  top: -25px;
  left: -25px;
  bottom: 0;
  right: 0;
  background: inherit;
  box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.2);
  filter: blur(10px);
}

.blurred-content {
  height: 700px;
  position: relative;
  overflow: scroll;
  text-align: center;
}

.home-bottom > div {
  padding-bottom: 40px !important;
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1024px) {
  .blurred-box {
    width: 70%;
    right: calc(15% - 75px);
  }

  .features-list p {
    padding: 5px;
    height: 150px;
  }
}
/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1023px) {
  .blurred-box {
    top: 400px;
    width: 70%;
    right: calc(15% - 75px);
  }

  .features-list p {
    padding: 5px;
    height: 190px;
  }
}
/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .blurred-box {
    top: 350px;
    width: 70%;
    right: calc(15% - 75px);
    height: calc(600px);
  }

  .blurred-content {
    height: 570px;
  }

  .features-list p {
    padding: 5px;
    height: 200px;
  }
}
/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  .blurred-box {
    top: 320px;
    width: 84%;
    right: 8%;
    height: 270px;
  }

  .blurred-content {
    height: 260px;
  }
}
/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
  .blurred-box {
    top: 330px;
    width: 90%;
    right: 5%;
    height: 78vh;
  }

  .blurred-content {
    height: 76vh;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .blurred-box {
    top: 330px;
    width: 90%;
    right: 5%;
    height: 78vh;
  }

  .blurred-content {
    height: 76vh;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 823px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .blurred-box {
    top: 330px;
    height: 70vh;
  }

  .blurred-content h1 {
    margin-top: 10px;
  }

  .blurred-content {
    height: 68vh;
  }
}

/*# sourceMappingURL=application.css.map */
