<!DOCTYPE html>

<head>
  <% include ../static/partials/head.ejs %>

</head>

<body>

  <div id="layout">
    <% include ../static/partials/navbar.ejs %>
    <div class="pure-g">
    <div class="pure-u-1">
      <div class="title-bar-left"></div>
        <div class="pure-u-1 user-page">
          <h1>User: <%= user.username %></h1>
          <% include ../static/partials/messages.ejs %>
          <% if (currentUser) { %>
            <% if (currentUser.id = user.id && currentUser.role == 1) { %>
              <h2>Premium User</h2>
              <% include ../static/partials/downgrade.ejs %>
            <% } else { %>
              <h2>Standard Member</h2>
              <% include ../static/partials/upgrade_form.ejs %>
            <% } %>
          <% } %>
          <h2>Wiki Contributions</h2>
          <div class="contribution-list">
            <table class="pure-table pure-table-horizontal pure-table-striped">
                <thead class="wiki-list-head">
                  <tr>
                    <th class="wiki-list-head-title">Wiki</th>
                    <th class="wiki-list-head-body">Description</th>
                    <th class="wiki-list-head-date">Last Update</th>
                  </tr>
                </thead>

            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% include ../static/partials/bodyscripts.ejs %>
</body>
